{:lib com.github.liquidz/clj-mindustry
 :version "0.1.{{git/commit-count}}"
 :uber-file "target/clj-mindustry-example.jar"
 :java-source-dirs ["src-java"]
 :javac-opts ["-source" "8" "-target" "8" "-Xlint:-options"]
 :main nil}
